
div#myForm {
	width:200px;
	margin:10px auto;
}

div#rssFeed {
	width:600px;
	border:1px dashed black;
	background-color: #0CF;
	margin:20px auto;
	padding:5px;
	color:#CCF;
	font-weight:bold;
	font-size:24px;
}

p a {
	color:#FFF;
	font-weight:normal;
	font-size:12px;
}

p.items {
	margin-left:10px;
	color:#000;
	font-weight:normal;
	font-size:12px;
}
